.button {
  display: inline-block;
  font-size: $text-normal;
  letter-spacing: $tracking-wide;
  font-weight: $font-normal;
  line-height: $leading-4;
  padding: 1rem 1.5rem;
  text-align: center;
  @extend .transition-all;
}

.button--primary {
  color: white;
  background-color: $grey-bokara;
  &:hover {
    color: $grey-bokara;
    background-color: $wild-sand;
  }
}

.button--secondary {
  box-shadow: $shadow-button;
  background-color: white;
  &:hover {
    background-color: $wild-sand;
    box-shadow: $shadow-button-hover;
  }
}

.button--full {
  width: 100%;
}

.button-selector {
  border-top: 1px solid $wild-sand;
  border-bottom: 1px solid $wild-sand;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4.5rem;
  width: 100%;
  font-size: $text-normal;
  letter-spacing: $tracking-wide;
  line-height: $leading-5;
  font-weight: $font-normal;
  .button-selector__group {
    display: flex;
    flex-direction: column;
  }
  .button-selector__title {
    margin-right: 1rem;
    font-weight: $font-medium;
  }
  .button-selector__value {
      flex: 1;
      text-align: right;
  }
  .button-selector__icon {
      margin-left: 1rem;
  }
}

.button--close {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 0.5rem;
  top: 0.5rem;
  @include mq($from: md) {
    top: 50%;
    transform: translateY(-50%);
  }
}

.icon-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  @extend .transition-all;
  &--light {
    @extend .icon-button;
    border: rem(1px) solid $wild-sand;
    background-color: white;
    &:hover {
      background-color: #eae8e4;
    }
  }
}

.product__back-btn {
  border-left: 0;
  border-top: 0;
  position: absolute;
  top: 0;
  z-index: 3;
  width: 3.5rem;
  height: 3.5rem;
  @include mq($from:lg) {
    width: 7.5rem;
    height: 4.5rem;
  }
}